.attendance {
    @include padding(null null null 25px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__svg {
        @include margin(null 15px null null);
        fill: $c-white;
    }

    &__text {
        font-size: 14px;
        font-weight: bold;
        color: $c-white;
    }

    &--black {
        .attendance__text {
            color: $c-black;
        }

        .attendance__svg {
            fill: $c-black;
        }
    }
}
