@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('#{$fonts}roboto/roboto-light.eot') format('embedded-opentype'),
    url('#{$fonts}roboto/roboto-light.woff2') format('woff2'),
    url('#{$fonts}roboto/roboto-light.woff') format('woff'),
    url('#{$fonts}roboto/roboto-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fonts}roboto/roboto-regular.eot') format('embedded-opentype'),
    url('#{$fonts}roboto/roboto-regular.woff2') format('woff2'),
    url('#{$fonts}roboto/roboto-regular.woff') format('woff'),
    url('#{$fonts}roboto/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('#{$fonts}roboto/roboto-bold.eot') format('embedded-opentype'),
    url('#{$fonts}roboto/roboto-bold.woff2') format('woff2'),
    url('#{$fonts}roboto/roboto-bold.woff') format('woff'),
    url('#{$fonts}roboto/roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('#{$fonts}roboto/roboto-black.eot') format('embedded-opentype'),
    url('#{$fonts}roboto/roboto-black.woff2') format('woff2'),
    url('#{$fonts}roboto/roboto-black.woff') format('woff'),
    url('#{$fonts}roboto/roboto-black.ttf') format('truetype');
}
