header.header
    .header__bg
        include ../includes/slider
    .header__wrapper
        .layout__wrapper
            include ../includes/logo
            .action-button-group
                +auth-button
                include ../includes/languages