.languages
    .languages__selected
        span.languages__selected-text EN
        +icon-arrow-down('languages__selected-icon')
    ul.languages__list
        li.languages__item.is-selected
            a.languages__link(href="#") EN
        li.languages__item
            a.languages__link(href="#") DK
        li.languages__item
            a.languages__link(href="#") NO