ul.menu(role="tablist")
    li.menu__item.active(role="presentation")
        a.menu__link(href="#aboutUs", role="tab", data-toggle="tab", aria-controls="aboutUs")
            span About
    li.menu__item(role="presentation")
        a.menu__link(href="#services", role="tab", data-toggle="tab", aria-controls="services")
            span Services
    li.menu__item(role="presentation")
        a.menu__link(href="#clients", role="tab", data-toggle="tab", aria-controls="clients")
            span Clients
    li.menu__item(role="presentation")
        a.menu__link(href="#contacts", role="tab", data-toggle="tab", aria-controls="contacts")
            span Contacts