.number-list
    .number-list__content
        .number-list__item
            .number-list__number-block
                canvas.number-list__canvas.js-number(width="130px", height="130px", data-number="33")
                span.number-list__number 33%
            .number-list__title Ungdomsvolden er faldet med en tredjedel de seneste ti år
        .number-list__item
            .number-list__number-block
                canvas.number-list__canvas.js-number(width="130px", height="130px", data-number="200")
                span.number-list__number 200%
            .number-list__title Til gengæld er vold mod ansatte på bosteder fordoblet siden 2007
        .number-list__item
            .number-list__number-block
                canvas.number-list__canvas.js-number(width="130px", height="130px", data-number="25")
                span.number-list__number 25%
            .number-list__title 25% af alle voldsepisoder sker på arbejdet
        .number-list__item
            .number-list__number-block
                canvas.number-list__canvas.js-number(width="130px", height="130px", data-number="20")
                span.number-list__number 20%
            .number-list__title Hver femte funktionær oplever vold på arbejdet
