.layout__block
    .layout__sub-block
        .layout__heading
            .icon-block
                i.fa.fa-rocket(aria-hidden="true")
                span.icon-block__border
            h3 What?
        p BComeSafe is an alarm and crisis management system built on open and proven (tested, acknowledge, readily available) technologies, but with a new and revolutionary approach.
        p There is a growing need to have systems that can increase the security in our workplaces, schools and public buildings. If a serious incident occurs, or there is a crisis situation, BComeSafe can be the decisive technology that warns and guides the staff by providing the necessary information in real time to those making the decisions helping to solve critical situations.
    .layout__sub-block
        .layout__heading
            .icon-block
                i.fa.fa-truck(aria-hidden="true")
                span.icon-block__border
            h3 Why?
        p BComeSafe helps us all to make it more secure and safe for everyone.
        p We can help all to better security by ensuring that the most important information gets to those who make decisions in a crisis situation.
        p This is done by connecting modern communications technology such as smartphones, PCs and existing equipment into a single coherent system. We do this by sharing information with key personel during a crisis or emergency. The decisions are then made at the best level of knowledge.
    .layout__sub-block
        .layout__heading
            .icon-block
                i.fa.fa-question(aria-hidden="true")
                span.icon-block__border
            h3 How?
        p BComeSafe includes features that allow you to start an alarm and connect to the police or other relevant authorities.
        p The system can also stream video, establish chat, display your location and establish SMS contact. BComeSafe operates on the platforms that most people carry or have nearby – smartphone, laptop or tablet – as well as the existing surveillance equipment. (video alarm buttons etc.)

.layout__block
    h2 Who are we?

    p Morten Kjærsgaard and Steffen Ørnemark founded BComeSafe on October 1st 2015.

    div
        .person
            h3 Morten Kjærsgaard
            img.person__photo(src=pathImg + "morten.png", alt="Morten Kjærsgaard")
            p Morten Kjærsgaard founded the open source it company Magenta in 1999 and has been the CEO since.
            p Morten was co-founder and chairman of the Danish Open Source Business Association from 2003 to 2010.
            p Morten has worked with communication, project management and strategic political lobbyism.
            p He also gives lectures on open source on conferences all over Europe.
            a.link(href="https://www.linkedin.com/profile/view?id=AAIAAAAD1u8B1bi8ypZ7z2GdLsrPoRjp2llfiEU&trk=nav_responsive_tab_profile", target="_blank") Morten on LinkedIn
        .person
            h3 Steffen Ørnemark
            img.person__photo(src=pathImg + "steffen.jpg", alt="Steffen Ørnemark")
            p Steffen Ørnemark was CIO and held several management positions in governmental organizations. This included operations, project portfolio management and strategy as well as merging of organizations.
            p Steffen has also been deputy director in a large European company responsible for innovation and relations to the public sector in Denmark.
            p Steffen has worked for different Danish it companies and secured contracts for more than 100 million dollars the last two years. He also works as coach for CxO’s in digitization.
            a.link(href="https://www.linkedin.com/pub/steffen-%C3%B8rnemark/3/615/a15", target="_blank") Steffen on LinkedIn

.layout__block
    h2 BComeSafe can make the difference

    p There is a growing need to have systems that can add security and safety at our workplaces, schools and public buildings. In the event of a crisis or an emergency situation BComeSafe can be the decisive technology that provides crisis teams with sufficient information and insight to make the right decisions. BComeSafe makes it possible for the crisis team to guide those in the risc area in a way that creates maximum security and safety with as low stress and panic levels as possible.
    p BComeSafe can reduce the risks associated with the serious incidents in an institution or in a business. It might be as examples bullying in school, serious fightings, bomb threats, fire – and at worst shootings. By establishing two-way communication, it is possible to assess the situation so that the decision of an action (evacuation, barricading etc.) is based on knowledge. This also prevents the situation to escalate by guiding the people at risk in the wrong direction against an accident or a perpetrator, but instead away from the danger and threat.
    p BComeSafe can make the difference BComeSafe offers many options for use in different organizations and places. BComeSafe can be used in companies – both in administration buildings or at industrial plants. In public places like sport facilities, concert or other events.
    p BComeSafe can be used in places like schools, psychiatric institutions, hospitals or others – and in general in places where people meet people at risk of confrontation or where we want to protect people from the worst crisis.
    p Safety for all is a shared responsibility With BComeSafe we can make it safer for all of us. BComeSafe can help to ensure that important information reaches those who make decisions in a crisis situation. BComeSafe connects smart phones, PCs and other devices in a single coherent system. Thus moving knowledge and communication to the right people so that decisions are made on the best possible basis. The system allows the crisis team to inform the person or persons who are exposed to a threat as accurately as possible.
    p BComeSafe contributes with features that can initiate an alarm and liaise with the police and other relevant authorities. The system can also record video, display coordinates of those who have triggered an alarm and establish SMS contact with those involved. BComeSafe is designed to operate on the platforms that most people have in their immediate vicinity – smartphone, laptop or tablet – as well as the equipment already in place on the given institution.

.layout__block
    h2 Partners
    ul.logo-list
        li.logo-list__item
            .logo-list__name-block
                img.logo-list__logo(src=pathImg + "partners/securitnor-logo.png", alt="Securitnor")
                span.logo-list__title Securitnor
            .logo-list__description
                p BComeSafe cooperates with Securitnor on alarm buttons and LoRa Technology.
                a.link(href="http://www.securitnor.com/", target="_blank") Website