.layout__block
    h2 Clients

    ul.logo-list
        li.logo-list__item
            .logo-list__name-block
                img.logo-list__logo(src=pathImg + "clients/afk-logo.png", alt="Forsiden  - Akershus fylkeskommune")
            .logo-list__description
                h3 Forsiden  - Akershus fylkeskommune
                a.link(href="http://www.akershus.no/english/", target="_blank") Website