.tab-content
    .tab-pane.fade.in.active#aboutUs(role="tabpanel")
        include ../includes/tab-about
    .tab-pane.fade#services(role="tabpanel")
        include ../includes/tab-services
    .tab-pane.fade#clients(role="tabpanel")
        include ../includes/tab-clients
    .tab-pane.fade#contacts(role="tabpanel")
        include ../includes/tab-contacts
